*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}
.container{
    max-width: fit-content;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
header,footer{
    text-align: center;
    background-color: rgb(12, 12, 126);
    color: rgb(255, 255, 255);
    padding: 15px 0;
}
.profile,.contact{
    flex: 1;
    min-width: 300px;
    width: 100%;
    background-color: #c1e3e6;
    padding: 20px;
    border-radius: 10px;
}
.profile img{
width: 100%;
border-radius: 50%;
max-width: 150px;
margin: auto;
display: block;
}
.profile h2,.contact h2{
    margin-bottom: 10px;
    color: #064086;
}
.contact form{
    display: flex;
    flex-direction: column;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}
.contact input,.contact textarea{
    margin-bottom:15px ;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact button{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contact button:hower{
    background-color: #064086;
}