*{
    margin: 0;
    padding: 0;
}
body{
    background:fixed;
    background: rgb(224, 209, 209);
}
form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: rgb(236, 192, 139);
    border-radius: 10px;
    padding: 30px;
}
h1{
text-align: center;
color: rgb(70, 70, 32);
margin: 15px;
}
 #form button{
    background-color: rgb(220, 137, 137);
    color: rgb(111, 29, 29);
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    border: 1px solid #333;
    font-size: 20px;
    cursor: pointer;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid rgb(237, 0, 115);
}
.input-group label{
    font-size: 25px;
}
.input-group input:focus{
    outline: 0px;
}
.input-group msg{
    color: red;
    font-size: 15px;
    margin-top: 5px;
}
.input-group.success input{
    border:green;
}